{% extends "basic/base.html" %}

{% load static %}

{% block content %}
        <div class="container">
            <form action={% url 'admission_backend' %} method="POST">
              {% csrf_token %}
              <h4 style="text-align: center;">Admission Form</h4>
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstName" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastName" placeholder="Your last name..">
              
              <label for="lname">Father's Name</label>
              <input type="text" id="fname" name="fathersName" placeholder="Your father's name..">

              <label for="lname">Mother's Name</label>
              <input type="text" id="mname" name="mothersName" placeholder="Your mother's name..">

              <label for="lname">Class</label>
              <input type="text"  name="classNumber"  placeholder="Class">
              <label for="lname">Phone Number</label>
              <input type="number" name="mob_number"  placeholder="Your Phone Number..">
              <label for="lname">Email</label>
              <input type="email"  name="email"  placeholder="Your email (e/g example@gmail.com)..">

              <label for="lname">Grade</label>
              <input type="text" name="gradeValue"  placeholder="Grade you want to admit..">

              <label for="subject">Why Us?</label>
              <textarea id="subject" name="subject" placeholder="Thank you for choosing us.." style="height:200px"></textarea>

              <div class="button">
              <input type="submit" value="Submit">
            </div>

            </form>
            </div>
            <!-- Copyright -->
		
 {% endblock %}