{% extends 'basic/base.html' %}
{% load static %}
{% block content %}

<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">Vacancy</h2>
        <div class="carousel owl-carousel">
            <div class="card">
                <div class="box">
                    <div class="text">Computer Teacher</div>
                    <p>Secondary level teacher</p>
                    <h6>Deadline date : 2078-08-08</h6>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="box">
                    <div class="text">Math Teacher</div>
                    <p> Teacher with bachelors degree in related field</p>
                    <h6>Deadline date : 2078-08-08</h6>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="box">
                    <div class="text">Science Teacher</div>
                    <p> Teacher with masters degree in related field</p>
                    <h6>Deadline date : 2078-08-08</h6>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}